.rg-image-wrapper
{
	position: relative;
	padding: 20px 30px;
	background: transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height: 20px;
	max-height: 400px;
}
.rg-gallery
{
	margin: 20px 0 40px;
	position: relative;
	top: 40px;
}
.rg-image
{
	position: relative;
	text-align: center;
	line-height: 0px;
}
.rg-image IMG
{
	max-height: 400px;
	max-width: 100%;
}
.rg-image-nav A
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000 url(../images/nav.png) no-repeat -20% 50%;
	width: 28px;
	height: 100%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.3;
	outline: none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav A.rg-image-nav-next
{
	right: 0px;
	left: auto;
	background-position: 115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav A:hover
{
	opacity: 0.8;
}
.rg-caption
{
	text-align: center;
	margin-top: 15px;
	position: relative;
}
.rg-caption P
{
	font-size: 11px;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	line-height: 16px;
	padding: 0 15px;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	/*+text-shadow:1px 1px 1px rgba(255, 255, 255, 0.2);*/
	-moz-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	-webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	-o-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
.rg-view
{
	height: 30px;
}
.rg-view A
{
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background: #464646 url(../images/views.png) no-repeat top left;
	border: 3px solid #464646;
	opacity: 0.8;
}
.rg-view A:hover
{
	opacity: 1.0;
}
.rg-view A.rg-view-full
{
	background-position: 0px 0px;
}
.rg-view A.rg-view-selected
{
	background-color: #6F6F6F;
	border-color: #6F6F6F;
}
.rg-view A.rg-view-thumbs
{
	background-position: 0px -16px;
}
.rg-loading
{
	width: 46px;
	height: 46px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #000 url(../images/ajax-loader.gif) no-repeat center center;
	margin: -23px 0px 0px -23px;
	z-index: 100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.7;
}
/*Elastislide Style*/
.es-carousel-wrapper
{
	background: #101010;
	padding: 10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
	position: relative;
	margin-bottom: 20px;
}
.es-carousel
{
	overflow: hidden;
	background: #000;
}
.es-carousel UL
{
	display: none;
}
.es-carousel UL LI
{
	height: 100%;
	float: left;
	display: block;
}
.es-carousel UL LI A
{
	display: block;
	border-style: solid;
	border-color: #222;
	opacity: 0.8;
	-webkit-touch-callout: none;
	/*option*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel UL LI.selected A
{
	border-color: #FFF;
	opacity: 1.0;
}
.es-carousel UL LI A IMG
{
	display: block;
	border: none;
	max-height: 100%;
	max-width: 100%;
}
.es-nav SPAN
{
	position: absolute;
	top: 50%;
	left: 8px;
	background: transparent url(../images/nav_thumbs.png) no-repeat top left;
	width: 14px;
	height: 26px;
	margin-top: -13px;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}
.es-nav SPAN.es-nav-next
{
	right: 8px;
	left: auto;
	background-position: top right;
}
.es-nav SPAN:hover
{
	opacity: 1.0;
}
